* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
    color: #fff !important;
}

table {
    width: 100%;
}

#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center !important;
}

#navbar ul li a{
    padding-top: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0 !important;
}

#navbar ul li a:hover{
    background: #336ea2;
    border-radius: 4px !important;
}

/* Hakkında */

section {
    margin-top: 1rem;
}


#hakkında{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

#hakkında .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hakkında .items .item {
    width: 33%;
    text-align: center;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
}


.width-card {
    width: 33%;
}

#cards{
    padding: 0.5rem;
    height: 500px;
}

#card-pic{
    height: 305px;
}

aside div{
    height: 730px;
}

#paragraf {
    margin-left: 25px;
}

.paragraf {
    margin-top: 1rem;
}

.paragraf-extra {
    padding-top: 3rem;
}

#tower-pic {
    padding: 3rem;
}

iframe {
    margin-bottom: 3rem;
}

#footer-ilgi {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.iletisim {
    width: 30rem;
}

.gender {
    display: flex;
    justify-content: left;
}

